html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding : 0;
}


.profile-setup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이를 채우도록 설정 */
    background-color: #3A3A3A; /* 배경색 */
    color: rgba(255, 255, 255, 0.50); /* 글자색 */
    padding: 20px;
    box-sizing: border-box; /* 패딩을 포함한 너비를 계산 */
  }
  
  .profile-setup-form {
    width: 80vw; /* 폼 너비 */
     /*max-width: 400px; 폼의 최대 너비 */
  }
  
  .form-group {

    margin-bottom: 20px; /* 각 입력 필드 사이의 간격 */
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 74.5vw;
    padding: 10px;
    border: 1px solid #ffa500; /* 테두리 색상 */
    border-radius: 10px; /* 모서리 둥글기 */
    background-color: #333; /* 입력 필드 배경색 */
    color: rgba(255, 255, 255, 0.50);; /* 입력 필드 글자색 */
  }
  
  .form-submit-button {
    width: 77vw;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c; /* 버튼 배경색 */
    color: rgba(255, 255, 255, 0.50);; /* 버튼 글자색 */
    margin-top: 20px; /* 버튼 위쪽 여백 */
    cursor: pointer; /* 클릭 가능한 항목으로 커서 변경 */
  }
  
  .form-submit-button:hover {
    background-color: #FF3030; /* 호버 상태의 버튼 배경색 */
  }

  .details-section {
    width: 77vw;
    background-color: #2c2c2c; /* 섹션의 배경색 */
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px; /* 섹션 사이의 간격 */
    border-radius: 5px; /* 모서리 둥글기 */
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333; /* Dark background color */
  }
  
  .button-container {
    background-color: #555; /* Button background color */
    border-radius: 20px; /* Rounded corners for the button */
    width: 250px; /* Width of the button */
    height: 250px; /* Height of the button */
    position: relative; /* Needed for absolute positioning of circle and dot */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; /* Space between button and the create-room button */
  }
  
  .circle {
    background-color: #FFD700; /* Golden color for the circle */
    border-radius: 50%; /* Make it round */
    width: 100px; /* Circle size */
    height: 100px; /* Circle size */
    position: absolute; /* Position it within button-container */
  }
  
  .dot {
    background-color: #FF6347; /* Tomato color for the dot */
    border-radius: 50%; /* Make it round */
    width: 30px; /* Dot size */
    height: 30px; /* Dot size */
    position: absolute; /* Position it within button-container */
    bottom: 20px; /* Position from the bottom */
    right: 20px; /* Position from the right */
  }
  
  .create-room-button {
    background-color: #e74c3c; /* Button background color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px; /* Slightly rounded corners for the button */
    cursor: pointer;
  }
  
  .create-room-button:hover {
    background-color: #c0392b;
  }
